@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Squada+One&display=swap');

:root {

    --branco: #ededee;

/* cores tema escuro */
    --preto: #161e25;
    --pretoClaro: #25313d;
    --fonte-padrao: 'Noto Sans JP', Helvetica, sans-serif;
    --fonte-alternativa: 'Squada One', Haettenschweiler, 'Arial Narrow Bold', sans-serif;

/* cores tema claro */
    --cinza: #DEE4E7;
    --azul: #5888b9;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--preto);
    transition: 0.2s linear;
}

.light-body {
    background-color: var(--cinza);
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 15px 15px 0px 15px;
}

.title {
    color: var(--branco);
    font-family: var(--fonte-alternativa);
    text-align: center;
    font-size: 50px;
    transition: 0.5s ease-in;
}

.light-title {
    color: var(--preto);
}


.icon {
    height: 45px;
    width: 45px;
    background-color: var(--branco);
    color: var(--pretoClaro);
    border-radius: 25px;
    font-size: 40px;
    font-family: var(--fonte-alternativa);
    text-align: center;
    padding: 1px;
    box-shadow: 0px 0px 10px #0000002f;
    cursor: help;
    z-index: 9999;
    user-select: none;  
    transition: 0.5s ease-in; 
}

.small-font {
    font-size: 30px;
    padding-top: 7px;
    cursor: pointer;
    display: none;
}

.light-icon {
    background-color: #5888b9;
    color: var(--cinza);
}

.pop-up {
    display: none;
    background-color: var(--branco);
    border: 4px solid var(--pretoClaro);
    border-radius: 15px;
    padding: 20px;
    list-style: none;
    font-family: var(--fonte-padrao);
    width: 170px;
    padding: 25px;
    font-size: 1em;
    box-shadow: 0px 0px 10px #0000002f;
    position: absolute;
    right: 20px;
    top: 90px; 
}

.light-pop-up {
    border-color: var(--azul);
}

.author {
    font-size: 0.7em;
    padding-top: 15px;
    color: var(--pretoClaro);
}

.link {
    text-decoration: none;
    color: var(--pretoClaro);
    cursor: zoom-in;
}

.aparecer {
        display: block;
        animation-name: transicao;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
    }
    
    @keyframes transicao{
        from {
           transform: scale(1.1)
        }
     
        to {
           transform: scale(1)
        }
     }

main {
    height: 85vh;
}

.launchpad {
    color: var(--preto);
    background-color: var(--pretoClaro);
    display: flex;
    max-width: 400px;
    min-width: 300px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #00000054;
    transition: 0.5s ease-in;
}

.light-launchpad {
    background-color: var(--azul);
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    width: 320px;
    gap: 10px;
    margin: auto;
}

.pad {
    width: 100px;
    height: 100px;
    background-color: var(--branco);
    font-size: 80px;
    font-family: var(--fonte-alternativa);
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
    
}

.press {
    transform: scale(1.05);
    box-shadow: 0 0 10px #0000003d;
    transition-duration: 0.05s;
}

strong, i {
    font-weight: bolder;
}

.options {
    width: 100px;
    text-align: center;
    margin: auto;
}

.types {
    border-radius: 15px;
    background-color: var(--branco);
    height: 35px;
    font-family: var(--fonte-padrao);
    margin-top: 15px;
    box-sizing: border-box;
    appearance: none;
    text-align: center;
    border-radius: 0.25em;
    font-size: 1rem;
    width: 100px;
    background-color: var(--branco);
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.light-types {
    background-color: var(--pretoClaro);
    color: var(--branco);
}

select option {
    background-color: var(--branco);
    color: var(--pretoClaro);
}